@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;
  height: $toolbar-height;
  left: 0;
  right: 0;
  top: $header-height;
  z-index: 100;

  .button {
    @include buttom(green);
  }
}